#menu-0 .navbar-toggler {
  color: #d9534f;
}
#menu-0 .navbar-brand {
  font-size: 30px;
}
#msg-box3-1 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1 .lead {
  text-align: center;
  color: #000000;
}
#msg-box3-1 .lead B {
  font-size: 23px;
}
#msg-box3-1 .mbr-section-title {
  color: #000000;
}
#form1-4 .mbr-section-title {
  color: #000000;
}
